body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	font: 12pt "Tahoma";
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}




#loan-info tbody tr td {
	white-space: nowrap;
	font-size:10px;
	padding:2px;
	padding-left:3px;
	padding-right:3px;
}










.table_main_calc thead tr th {
	vertical-align: middle;
	text-align: center;
	font-size:10px;
	padding: 2px;
	background: #cacaca;
	font-weight: normal;
}

.table_main_calc tbody tr td {
	font-size:9px;
	padding: 2px;
	text-align: center;
}






.table_peni_calc thead tr th {
	vertical-align: middle;
	text-align: center;
	font-size:10px;
	padding: 2px;
	background: #cacaca;
	font-weight: normal;
}

.table_peni_calc tbody tr td {
	font-size:9px;
	padding: 2px;
	text-align: center;
}



.header_left_table div{
	font-size:11px;
}

.header_right_table div{
	font-size:11px;
}

thead {display: table-header-group;}



