.header_left_table *{
    font-size: smaller;
}

.header_right_table *{
    font-size: smaller;
}

.table_main_calc tbody tr td{
    white-space: nowrap;
}


.innertop td{

}


.bold{
    font-weight: bold;

}

b{
    font-size: 11px !important;
}

.table_header_cb *{
    font-size: 11px !important;
}

.align-right{
    text-align:right;
}

.table_header_cb tr td table tr td{
    font-size: 11px !important;
}