body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	font: 12pt "Tahoma";
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.page {
	width: 210mm;
	min-height: 297mm;
	padding: 20mm;
	margin: 10mm auto;
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page.landscape {
	width: 297mm;
	min-height: 210mm;
	padding: 10mm;
}

@media print {
	html, body {
		width: 210mm;
		height: 297mm;
	}
	.page {
		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
}

#loan-info tbody tr td {
	white-space: nowrap;
}

#loan-info tbody tr td:first-child {
	width: 1px;
	white-space: nowrap;
	font-weight: bold;
}

#rst-info thead tr th,
#rst-info tbody tr td {
	width: 15%;
	text-align: right;
	white-space: nowrap;
}

#rst-info tbody tr td:first-child {
	text-align: left;
}

#rst-info thead tr th:first-child {
	width: 40%;
}

#rst-info tbody tr td:first-child {
	font-weight: bold;
}

#rsd-info tbody tr td:first-child {
	white-space: nowrap;
}

table * {
	font-size: smaller;
}

#rsd-info thead tr:first-child th {
	text-align: center;
}

#rsd-info thead tr:nth-child(2) th,
#rsd-info tbody tr td {
	text-align: right;
}


#rsd-info thead tr th {
	vertical-align: middle;
	text-align: center !important;
	padding: 3px;
	background: #cacaca;
	font-weight: normal;
}



table, tr, td, th, tbody, thead, tfoot {
	page-break-inside: auto !important;
}